.main {
  &_about-all {
  }

  &__about-heading {
  }
  &__about-list {
    margin-top: 132px;
    margin-bottom: 90px;

    @media screen and (min-width: $md-2) {
      margin-top: 199px;
      margin-bottom: 86px;
    }
    @media screen and (min-width: $md-3) {
      margin-top: 164px;
      margin-bottom: 110px;
    }
  }
}

.about-heading {
  background-color: $color-purple;
  &__container {
  }

  &__inner {
    padding-top: 78px;
    text-align: center;
    overflow: visible;

    @media screen and (min-width: $md-2) {
      padding-top: 113px;
    }

    @media screen and (min-width: $md-4) {
      position: relative;
      padding-bottom: 92px;
    }
  }

  &__content {
    color: $color-white;
  }

  &__title {
    text-align: center;
    font-size: 26.093px;
    line-height: 125%;
    max-width: 284px;
    margin: 0 auto;
    @media screen and (min-width: $md-2) {
      margin: 0px;
      padding-left: 27px;
      font-size: 40px;
      line-height: 137%;
      text-align: left;
      max-width: 440px;
    }
    @media screen and (min-width: $md-4) {
      padding-left: 0px;
    }
  }

  &__text {
    margin: 25px auto 0px auto;
    font-weight: 300;
    font-size: 14.2326px;
    line-height: 126.5%;
    text-align: center;
    max-width: 304px;
    @media screen and (min-width: $md-2) {
      padding-left: 27px;
      margin: 36px 0px 0px 0px;
      font-size: 20px;
      line-height: 126.5%;
      letter-spacing: -0.015em;
      text-align: left;
      max-width: 440px;
    }
    @media screen and (min-width: $md-4) {
      padding-left: 0px;
    }
  }

  &__image {
    max-width: 500px;
    margin: 22px auto 0px;
    position: relative;
    top: 40px;
    left: 0;
    & img {
      width: 356px;
      margin-left: -12px;
      @media screen and (min-width: $md-2) {
        width: 100%;
        margin-left: 0px;
        margin-right: -170px;
      }
      @media screen and (min-width: $md-4) {
        margin-right: -80px;
      }
      @media screen and (min-width: 1100px) {
        margin-right: 0px;
      }
    }

    @media screen and (min-width: $md-2) {
      margin: -30px 0px 0px auto;
      max-width: 678px;
      top: 75px;
    }
    @media screen and (min-width: 900px) {
      margin: -64px 0px 0px auto;
    }
    @media screen and (min-width: $md-4) {
      max-width: 400px;
      margin: 0px 0px 0px 0px;
      top: auto;
      bottom: -44px;
      position: absolute;
      right: 0px;
      left: auto;
    }
    @media screen and (min-width: 1100px) {
      max-width: 570px;

      bottom: -62px;
      pointer-events: none;
    }
  }
}

.about-list {
  &__container {
    max-width: 1212px;
    margin: 0 auto;
    box-sizing: content-box;

    //mobile first

    padding: 0px 26px 0px 26px;

    @media screen and (min-width: $md-2) {
      padding: 0px 81px;
    }
    @media screen and (min-width: $md-3) {
      padding: 0px 35px;
    }
  }

  &__inner {
    margin-bottom: -30px;
    @media screen and (min-width: $md-2) {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      margin: -20px -19px;
    }
  }

  &__item {
    display: none;
    margin-bottom: 30px;
    color: $color-black;
    &_main {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
    }
    &_main-second {
      @media screen and (min-width: $md-2) {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
      }
    }

    @media screen and (min-width: $md-2) {
      &:hover {
        .item-read-more__read-more-button {
          opacity: 1;
          visibility: visible;
        }
      }

      margin: 20px 19px;
      flex: 0 1 calc(50% - 38px);
    }

    @media screen and (min-width: 1180px) {
      flex: 0 1 calc(33.333% - 38px);
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
    }
  }
}
