.main {
  &_contact-page {
    flex: 1 1 100%;
    padding-top: 0px;

    padding-bottom: 46px;

    @media screen and (min-width: $md-2) {
      padding-bottom: 122px;
    }
    @media screen and (min-width: $md-4) {
      padding-bottom: 48px;
    }
  }
}

.contact-page {
  &__contact {
  }

  &__container {
    max-width: 974px;
    padding: 0px 26px;
    box-sizing: content-box;
    margin: 0 auto;

    @media screen and (min-width: $md-2) {
      padding: 0px 66px;
      max-width: 470px;
      margin: 0px auto 0px 0px;
    }
    @media screen and (min-width: $md-3) {
      padding: 0px 15px;
      max-width: 470px;
      margin: 0px auto 0px auto;
    }
    @media screen and (min-width: 1200px) {
      max-width: 974px;
    }
  }

  &__inner {
    margin-top: 23px;
    @media screen and (min-width: $md-2) {
      margin-top: 60px;
    }
    @media screen and (min-width: $md-3) {
      margin-top: 50px;
    }
    @media screen and (min-width: 1200px) {
      margin: 5px -56.5px 0px -56.5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__title {
    font-size: 26px;
    line-height: 106%;
    text-align: center;

    @media screen and (min-width: $md-2) {
      text-align: left;
      font-size: 40px;
      line-height: 137%;
    }
  }
  &__form {
    & > div {
      margin-top: 8px;
    }
    @media screen and (min-width: $md-2) {
      & > div {
        margin-top: 12px;
      }
      & .contact-page__name {
        margin-top: 0px;
      }
    }

    & label {
      display: block;
      font-weight: 400;
      font-size: 11px;
      line-height: 306%;
      padding-left: 15px;

      @media screen and (min-width: $md-2) {
        font-size: 18px;
        padding-left: 25px;
      }
    }
    & input {
      background-color: #f4f5fc;
      border-radius: 18px;
      width: 100%;
      font-weight: 300;
      font-size: 11px;
      line-height: 306%;
      padding: 2px 40px 2px 20px;

      @media screen and (min-width: $md-2) {
        font-size: 18px;
        padding: 2px 56px 2px 30px;
        max-width: 432px;
      }
      @media screen and (min-width: $md-3) {
        max-width: none;
      }
      @media screen and (min-width: 1200px) {
        max-width: 432px;
      }
    }

    & textarea {
      background: #f4f5fc;
      border-radius: 15px;
      resize: none;
      width: 100%;
      height: 88px;
      padding: 13px 40px 13px 20px;
      font-weight: 300;
      font-size: 11px;
      line-height: 120%;

      @media screen and (min-width: $md-2) {
        font-size: 18px;
        padding: 16px 46px 16px 30px;
        height: 142px;
        max-width: 432px;
      }
      @media screen and (min-width: $md-3) {
        max-width: none;
      }
      @media screen and (min-width: 1200px) {
        max-width: 432px;
      }
    }

    @media screen and (min-width: 1200px) {
      flex: 0 1 470px;
      margin: 0px 56.5px;
    }
  }

  &__name {
  }

  &__name-label {
  }

  &__name-input {
    background-image: url('../../img/icons/person-icon.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    background-size: 14px 14px;

    @media screen and (min-width: $md-2) {
      background-size: 16px 17px;
      background-position: calc(100% - 28px) center;
    }
  }

  &__email {
  }

  &__email-label {
  }

  &__email-input {
    background-image: url('../../img/icons/mail-icon.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    background-size: 12px 10px;

    @media screen and (min-width: $md-2) {
      background-size: 18px 16px;
      background-position: calc(100% - 25px) center;
    }
  }

  &__text-area {
    & textarea {
      background-image: url('../../img/icons/message-icon.svg');
      background-repeat: no-repeat;
      background-position: calc(100% - 16px) 14px;
      background-size: 12px 12px;

      @media screen and (min-width: $md-2) {
        background-size: 18px 18px;
        background-position: calc(100% - 24px) 20px;
      }
    }
  }

  &__text-area-label {
  }

  &__send-button {
    margin-top: 20px;
    @extend %send-button;

    padding: 10px 10px;
    font-size: 10px;
    line-height: 126.5%;

    @media screen and (min-width: $md-2) {
      margin-top: 32px;
      max-width: 278px;
      font-size: 16px;
      padding: 15px 20px;
      line-height: 126.5%;
    }
    @media screen and (min-width: $md-3) {
      display: block;
      margin: 32px auto 0px auto;
    }
    @media screen and (min-width: 1200px) {
      display: block;
      margin: 32px auto 0px 0px;
    }
  }

  &__info {
    display: flex;
    flex-flow: column-reverse;
    margin-top: 42px;
    align-items: center;

    @media screen and (min-width: $md-2) {
      margin-top: 80px;
      align-items: flex-start;
    }
    @media screen and (min-width: $md-3) {
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      flex: 0 1 390px;
      margin: 0px 56.5px;
      display: block;
    }
  }

  &__decor-image {
    display: none;

    @media screen and (min-width: 1200px) {
      max-width: 390px;
      display: block;

      & img {
        width: 100%;
      }
    }
  }

  &__email-contact {
    color: $color-blue;
    padding-left: 26px;
    @media screen and (min-width: $md-2) {
      &:hover {
        text-decoration: underline;
      }
    }
    background: url('../../img/icons/mail-blue.svg') left 3px/12.8px 10.6px no-repeat;

    @media screen and (min-width: 1200px) {
      display: inline-block;
      margin-top: 36px;
    }
  }
}
