.main {
  &__food-block {
    margin-top: 34px;
    @media screen and (min-width: $md-2) {
      margin-top: 80px;
    }
    @media screen and (min-width: $md-4) {
      margin-top: 70px;
    }

    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: $color-white;

    border-bottom-right-radius: 40px;

    padding-bottom: 51px;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #f9f9fa;
      z-index: -1;
    }

    @media screen and (min-width: $md-2) {
      padding-top: 77px;

      border-bottom-right-radius: 60px;
      padding-bottom: 86px;
    }
    @media screen and (min-width: $md-4) {
      padding-top: 67px;

      border-bottom-right-radius: 100px;
      padding-bottom: 112px;
    }
  }
  &__read-also {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #f9f9fa;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-top: 42px;
    padding-bottom: 51px;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-white;
      z-index: -1;
    }

    @media screen and (min-width: $md-2) {
      padding-top: 77px;
      border-top-left-radius: 60px;
      border-bottom-right-radius: 60px;
      padding-bottom: 86px;
    }
    @media screen and (min-width: $md-4) {
      padding-top: 67px;
      border-top-left-radius: 100px;
      border-bottom-right-radius: 100px;
      padding-bottom: 112px;
    }
  }
}

//food block
.food-block {
  &__container {
    max-width: 1040px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0px 24px;

    @media screen and (min-width: $md-2) {
      padding: 0px 66px;
    }
    @media screen and (min-width: $md-3) {
      padding: 0px 15px;
    }
  }

  &__inner {
  }

  &__title {
    font-size: 43px;
    line-height: 137%;
    text-transform: uppercase;
    color: #28054d;
    position: relative;
    text-align: left;
    padding-bottom: 25px;
    border-bottom: 3px dotted #e6e6e6;
    &::before {
      content: '';
      position: absolute;
      bottom: 25px;
      left: 4px;
      height: 6px;
      width: 12%;
      border-radius: 4px;
      background-color: $color-purple;

      @media screen and (min-width: $md-2) {
        width: 10%;
        bottom: 44px;
      }
      @media screen and (min-width: $md-3) {
        bottom: 60px;
        width: 8%;
      }
    }

    @media screen and (min-width: $md-2) {
      font-size: 80px;
      line-height: 137%;
      padding-bottom: 44px;
    }
    @media screen and (min-width: $md-3) {
      padding-bottom: 60px;
    }
  }

  &__text {
    margin-top: 66px;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.015em;
    color: #000000;

    @media screen and (min-width: $md-2) {
      margin-top: 55px;
      font-size: 22px;
      line-height: 154%;

      & p:not(:last-child) {
        margin-bottom: 14px;
      }
    }
    @media screen and (min-width: $md-3) {
      margin-top: 70px;
    }
  }

  &__download-doc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 21px;
    color: #002033;
    padding: 10px 40px;
    background: #f3f7f9;
    border-radius: 6.5px;
    position: relative;
    & span {
      font-weight: 400;
      font-size: 9px;
      line-height: 120%;
      display: inline-block;

      @media screen and (min-width: $md-2) {
        font-size: 16px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 14px;
      width: 18px;
      height: 22px;
      background: url('../../img/icons/book-icon.svg') center/100% no-repeat;
      transform: translate(0%, -50%);

      @media screen and (min-width: $md-2) {
        left: 24px;
        width: 32px;
        height: 38px;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 14px;
      width: 14px;
      height: 14px;
      background: url('../../img/icons/download-icon.svg') center/100% no-repeat;
      transform: translate(0%, -50%);

      @media screen and (min-width: $md-2) {
        right: 26px;
        width: 24px;
        height: 24px;
      }
      @media screen and (min-width: $md-4) {
        right: 22px;
      }
    }

    @media screen and (min-width: $md-2) {
      margin-top: 30px;
      padding: 16px 70px;
    }
  }

  &__info {
    margin-top: 70px;
    @media screen and (min-width: $md-2) {
      margin-top: 150px;
    }
    @media screen and (min-width: $md-4) {
      margin-top: 70px;
    }
  }

  &__title-info {
    font-size: 22px;
    line-height: 125%;
    color: #28054d;
    @media screen and (min-width: $md-2) {
      font-size: 33px;
      line-height: 118%;
      max-width: 450px;
    }
  }

  &__info-text {
    margin-top: 12px;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.015em;
    color: #000000;

    @media screen and (min-width: $md-2) {
      margin-top: 18px;
      font-size: 22px;
      line-height: 153.5%;

      & p:not(:last-child) {
        margin-bottom: 14px;
      }
    }
    @media screen and (min-width: $md-4) {
      margin-top: 11px;
    }
  }

  &__about-list {
    margin-top: 70px;
  }

  &__about-item {
    &:not(:last-child) {
      margin-bottom: 15px;

      @media screen and (min-width: $md-4) {
        margin-bottom: 35px;
      }
    }
  }

  &__person-item {
    background: #f3f7f9;
    border-radius: 135.6px 33.6px 28.8px 135.6px;
  }

  &__spollers {
    margin-top: 45px;
    @media screen and (min-width: $md-2) {
      margin-top: 30px;
    }
    @media screen and (min-width: $md-4) {
      margin-top: 65px;
    }
    &_main {
      margin-top: 70px;
    }
  }

  &__spoller {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__spoller-label {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
    position: relative;
    & p {
      font-size: 16px;
      line-height: 153.5%;
      letter-spacing: -0.015em;
      max-width: 180px;
      transition: all 0.3s ease 0s;
      @media screen and (min-width: $md-2) {
        max-width: 430px;
        font-size: 20px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      right: 0px;
      top: 50%;
      width: 14px;
      height: 2px;
      background-color: $color-blue;

      transform: translate(0%, -50%);
    }
    &::after {
      content: '';
      position: absolute;
      right: 6px;
      top: 50%;
      width: 2px;
      height: 14px;
      background-color: $color-blue;

      transform: translate(0%, -50%);
      transition: all 0.3s ease 0s;
    }
    &._active {
      border-bottom: none;
      &::after {
        transform: translate(0%, -50%) rotate(90deg);
      }
    }

    @media screen and (min-width: $md-2) {
      &:hover {
        & p {
          color: $color-blue;
        }
      }
    }
  }

  &__spoller-text {
    padding-top: 4px;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.7);

    @media screen and (min-width: $md-2) {
      padding-top: 8px;
      font-size: 22px;
      line-height: 153.5%;
    }
  }
}
.item-person {
  padding: 18px 16px 42px 16px;
  background: #f3f7f9;
  border-radius: 135px 135px 33px 28px;

  @media screen and (min-width: $md-2) {
    padding: 27px 58px 27px 0px;
    display: flex;
    border-radius: 0px;
    background-color: transparent;
    align-items: center;

    position: relative;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -40px;
      width: 200vw;
      height: 100%;
      background-color: #f3f7f9;
      z-index: -1;
      border-radius: 226px;
    }
  }
  @media screen and (min-width: $md-4) {
    padding: 25px 22px 25px 22px;
    &::before {
      content: '';
      position: absolute;

      left: 0px;
      border-radius: 194px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 200vw;
      height: 100%;
      top: 0;
      left: calc(-200vw - 55px);
      background-color: #f3f7f9;
      z-index: -1;
      border-radius: 194px;
    }
  }
  &__image {
    max-width: 300px;
    margin: 0 auto;
    & img {
      width: 100%;
    }
    @media screen and (min-width: $md-2) {
      flex: 0 1 398px;
      margin: 0px 44px 0px 0px;
      max-width: none;
    }
    @media screen and (min-width: 900px) {
      flex-shrink: 0;
    }
    @media screen and (min-width: $md-4) {
      margin-right: 50px;
      flex: 0 0 337px;
    }
  }

  &__content {
    margin-top: 24px;
    @media screen and (min-width: $md-2) {
      flex: 0 1 364px;
    }
    @media screen and (min-width: $md-4) {
      flex: 0 1 687px;
    }
  }

  &__name {
    font-size: 17px;
    line-height: 137%;
    letter-spacing: -0.015em;
    color: $color-blue;
    @media screen and (min-width: 740px) {
      font-size: 28px;
      line-height: 137%;
    }
    @media screen and (min-width: $md-4) {
      font-size: 32px;
    }
  }

  &__profession {
    font-weight: 300;
    font-size: 10px;
    line-height: 131%;
    letter-spacing: -0.015em;
    color: #000000;
    opacity: 0.6;

    @media screen and (min-width: $md-2) {
      font-size: 12px;
      line-height: 131%;
    }

    @media screen and (min-width: 740px) {
      font-size: 15px;
      line-height: 131%;
    }
    @media screen and (min-width: $md-4) {
      font-size: 18px;
    }
  }

  &__text {
    margin-top: 14px;
    position: relative;
    & p {
      font-weight: 300;
      font-size: 12px;
      line-height: 153.5%;
      color: #000000;
      letter-spacing: -0.015em;

      @media screen and (min-width: 740px) {
        font-size: 14px;
        //19
        line-height: 154%;
      }
      @media screen and (min-width: 900px) {
        font-size: 19px;
      }
      @media screen and (min-width: $md-4) {
        font-size: 22px;
      }
    }
    & span {
      position: absolute;
      top: -150px;
      right: 12px;
      font-family: $font-sub_mod;
      font-weight: 700;
      font-size: 208px;
      line-height: 100%;
      letter-spacing: -0.015em;
      pointer-events: none;
      color: rgba(0, 0, 0, 0.03);
      transform: scale(1, -1);
      z-index: 0;

      @media screen and (min-width: 900px) {
        font-size: 346px;
        top: -268px;
        right: -40px;
      }
      @media screen and (min-width: $md-4) {
        font-size: 394px;
        top: -310px;
        right: -20px;
      }
    }

    @media screen and (min-width: 740px) {
      margin-top: 22px;
    }
    @media screen and (min-width: $md-4) {
      margin-top: 25px;
    }
  }
}

//read also block
.read-also {
  &__container {
  }

  &__inner {
  }

  &__title {
    font-weight: 300;
    font-size: 19px;
    line-height: 121%;
    text-align: center;

    @media screen and (min-width: 740px) {
      font-size: 33px;
      line-height: 118%;
    }
    @media screen and (min-width: $md-4) {
      font-size: 31px;
      text-align: left;
    }
  }

  &__list {
    margin-top: 30px;
    margin-bottom: -30px;

    @media screen and (min-width: 740px) {
      display: flex;
      padding-top: 58px;
      margin: -20px -19px;
      flex-flow: row wrap;
    }
  }

  &__item {
    display: none;
    margin-bottom: 30px;
    color: $color-black;
    &_main {
      display: block;
    }
    @media screen and (min-width: $md-2) {
      display: block;
      flex: 0 1 calc(50% - 38px);
      margin: 20px 19px;
      &:hover {
        & .item-read-more__read-more-button {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    @media screen and (min-width: 1200px) {
      flex: 0 1 calc(33.333% - 38px);
      display: flex;
      flex-flow: column nowrap;

      & .item-read-more__text {
        flex: 1 1 100%;
      }
      & .item-read-more__read-more-button {
        align-self: flex-start;
      }
    }
  }
}
