//header
.header {
  &__container {
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: $md-3) {
      align-items: center;
    }
  }

  &__logo {
  }

  &__nav {
    @media screen and (min-width: $md-1) {
      display: none;
    }
  }

  &__nav-list {
  }

  &__nav-item {
  }

  &__nav-link {
  }

  &__burger {
  }
}
