//main
.main {
  &__preview-block {
    margin-top: 8px;

    @media screen and (min-width: $md-3) {
      margin-top: 12px;
    }
    @media screen and (min-width: $md-4) {
      margin-top: 58px;
    }
  }
}

.preview-block {
  background: url('../../img/home/main-section/mobile-background-main-min.png') center 160px/ 160% no-repeat;

  @media screen and (min-width: 450px) {
    background-size: 130%;
    background-position: center 140px;
  }
  @media screen and (min-width: 550px) {
    background-size: 100%;
    background-position: center 190px;
  }
  @media screen and (min-width: $md-2) {
    background-image: url('../../img/home/main-section/background-main-min.png');
    background-size: 170%;
    background-position: center 50px;
  }
  @media screen and (min-width: 800px) {
    background-size: 200%;
    background-position: -500px 90px;
  }
  @media screen and (min-width: 940px) {
    background-size: 180%;
    background-position: -600px 20px;
  }

  @media screen and (min-width: $md-4) {
    background-size: 115%;
    background-position: center 20px;
  }
  @media screen and (min-width: 1200px) {
    background-size: 115%;
    background-position: center -150px;
  }
  @media screen and (min-width: 1400px) {
    background: none;
  }
  &__container {
  }

  &__inner {
    padding-bottom: 466px;

    @media screen and (min-width: 800px) {
      padding-bottom: 734px;
    }
    @media screen and (min-width: $md-4) {
      padding-bottom: 394px;
    }
  }

  &__subtitle {
    font-size: 13px;
    line-height: 115%;
    color: $color-purple;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @media screen and (min-width: 550px) {
      font-size: 16px;
    }
    @media screen and (min-width: 750px) {
      font-size: 24px;
      line-height: 120%;
    }
    @media screen and (min-width: $md-4) {
      font-size: 21px;
      line-height: 119%;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 144%;
    max-width: 268px;

    @media screen and (min-width: 550px) {
      font-size: 30px;
      line-height: 131%;
      max-width: 400px;
      margin-top: 3px;
    }
    @media screen and (min-width: 750px) {
      font-size: 47px;
      line-height: 131%;
      max-width: 608px;
    }
    @media screen and (min-width: $md-4) {
      margin-top: 16px;
      font-size: 40px;
      line-height: 137%;
    }
  }

  &__text {
    margin-top: 6px;
    font-weight: 300;
    font-size: 12px;
    line-height: 137%;

    @media screen and (min-width: 550px) {
      margin-top: 10px;
      font-size: 16px;
    }
    @media screen and (min-width: 750px) {
      font-size: 22px;
      line-height: 173%;
    }
    @media screen and (min-width: $md-4) {
      margin-top: 30px;
      font-size: 20px;
      line-height: 160%;
    }
  }
}
