//base sizes
$main-container-size: 1252px;

//colors
$color-white: #ffffff;
$color-black: #232323;
$color-grey: #c6c6cc;
$color-purple: #b432ff;
$color-blue: #4896d2;
$color-blue-sub: #bde2f4;
$color-blue-sub2: #e5f1f9;
$color-beige: #f6ebff;

//fonts
$font-main: hinted;
$font-sub: 'Inter', sans-serif;
$font-sub_mod: 'Roboto', sans-serif;

//brakepoints
$md-1: 320px;
$md-2: 480px;
$md-3: 960px;
$md-4: 1024px;
$md-5: 1920px;
